@import url("../../../../../../assets/styles/base2Style.scss");
#maincontainer{
    margin-top: 10px;

    .flex-container{
        display: flex;
    
        .flex-container-item{
            flex: 1;
            margin-right: 5px;
        }
    
        margin-bottom: 10px;
    }
}




