@import url("../../../../assets/styles/baseStyle.scss");

table{
    th,td{
        padding: 3px;
        text-align:  center;
    }
    td{
        input{
            width: 30%;
        }
    }
    .mat-raised-button{
        color: white;
        background-color: blue;   
    }
}