<mat-accordion>

  <!-- first panel for ENTITIES -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <span mat-icon-button>
           <mat-icon color="warn">
             nature_people
           </mat-icon>
            Entities
        </span> 
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
      <a mat-icon-button>
            <mat-icon color="primary">
                favorite
            </mat-icon>
            Students
        </a>
    </div>
        <div class="link-item">
        <a mat-icon-button>
                <mat-icon color="primary">
                    favorite
                </mat-icon>
                Employees
            </a>
        </div>
    </mat-expansion-panel>

    <!-- end first panel for ENTITIES -->

    <!-- second panel for MONETARY -->
    <mat-expansion-panel 
                        >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <span mat-icon-button>
                <mat-icon color="warn">
                  attach_money
                </mat-icon>
                 MONETARY
             </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
          <a mat-icon-button>
                <mat-icon color="primary">
                    favorite
                </mat-icon>
                Students
            </a>
        </div>
            <div class="link-item">
            <a mat-icon-button>
                    <mat-icon color="primary">
                        favorite
                    </mat-icon>
                    Employees
                </a>
            </div>
    </mat-expansion-panel>

    <!-- end of second panel for MONETARY -->

    <!-- third panel for REPORTS -->
  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
              <span mat-icon-button>
                  <mat-icon color="warn">
                    multiline_chart
                  </mat-icon>
                   REPORTS
               </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <a mat-icon-button>
                  <mat-icon color="primary">
                      favorite
                  </mat-icon>
                  Students
              </a>
          </div>
              <div class="link-item">
              <a mat-icon-button>
                      <mat-icon color="primary">
                          favorite
                      </mat-icon>
                      Employees
                  </a>
              </div>
</mat-expansion-panel>

<!-- end of third panel for REPORTS -->

 <!-- fourth panel for SETTINGS -->
 <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <span mat-icon-button>
                <mat-icon color="warn">
                  settings
                </mat-icon>
                 SETTINGS
             </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
          <a mat-icon-button>
                <mat-icon color="primary">
                    favorite
                </mat-icon>
                Students
            </a>
        </div>
            <div class="link-item">
            <a mat-icon-button>
                    <mat-icon color="primary">
                        favorite
                    </mat-icon>
                    Employees
                </a>
            </div>
</mat-expansion-panel>

<!-- end of fourth panel for SETTINGS -->
  </mat-accordion>