
  <div>
      <mat-toolbar color="primary" class="navholder">
          <div>        
              <mat-icon (click)="toggleSideNav()">list</mat-icon>
          </div>
            <!-- Main Top Menu items -->
            <div>
                <a routerLink="/profile" class="navbar-left"><img src="../../../assets/images/default.png" class="img-circle">
                </a>
                  <span routerLink="/profile" class="small welcome-message">Welcome, </span>
                   <span routerLink="/profile" class="title username">Christian</span>
            </div>
  
            <!--- Space for the menus -->
            
            <div>
            
            </div>
             <!--- End Space for the menus -->
            <div class="right">
             <a><mat-icon [matMenuTriggerFor]="entities">dashboard</mat-icon></a> 
            </div>
            <!--End Main Top Menu items -->
            
      </mat-toolbar>
  
        <!-- Menu items for ENTITIES -->
          <mat-menu #entities="matMenu"> 
            <a routerLink="/profile">
              <button mat-menu-item>
                  <mat-icon color="warn">face</mat-icon>
                  <span>Profile</span>
                </button>
            </a>
            <a routerLink="/user/account"> <button mat-menu-item>
                <mat-icon color="warn">account_circle</mat-icon>
                <span>Account</span>
              </button>
            </a>
              <button (click)="logoutUser()" mat-menu-item>
                <mat-icon color="warn">input</mat-icon>
                <span>Logout</span>
              </button>
          </mat-menu>
  
           <!--END Menu items for ENTITIES -->
  
         
    </div>