
  <mat-tab-group id="topcontainer">
      <mat-tab label="GENERAL">
       <app-general></app-general>
      </mat-tab>

      <mat-tab label="STUDENTS">
        <app-studentsettings></app-studentsettings>
      </mat-tab>

      <mat-tab label="EMPLOYEES">
          <app-employees></app-employees>
      </mat-tab>

      <mat-tab label="PAYROLL">
          <app-payrollsetting></app-payrollsetting>
      </mat-tab>

      <mat-tab label="EXAMINATIONS">
          <app-examinations></app-examinations>
      </mat-tab>

      <mat-tab label="NOTIFICATIONS">
        <app-notifcations></app-notifcations>
      </mat-tab>
  </mat-tab-group>
