@import url("../../../../../assets/styles/baseStyle.scss");

table{
    th,td{
        padding: 3px;
    }
    td{
        text-align:  center;
    }
    .mat-raised-button{
        color: white;
        background-color: blue;   
    }
}